/**
 *  Timeline.css
 */

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body, html {
	font-size: 100%;
	padding: 0;
	margin: 0;
}

#CV{
	font-size: 20px;
	letter-spacing: 2px;
}


.cbp_tmtimeline {
	padding: 0;
	list-style: none;
	position: relative;
}

.cbp_tmtimeline > li {
	position: relative;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 500px;
	overflow: hidden;
}

/* The date/time */

/* The card */
.cbp_tmtimeline > li .cbp_tmlabel {
	width: 100%;
	color: rgb(78, 78, 78);
	position: relative;
	font-weight: 400;
	font-size: 95%;
	height: 100%;
}

.cbp_tmlabel p {
	z-index: 99;
	position: relative;
}
#task-app{
	background-color: #ffdd4a;
	color: #003d5b;
}

#bosch{
	position: relative;
	background-image: url("../images/camera.jpg");
	background-size: cover;
}

#bosch img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}

#bosch canvas {
	position: absolute;
	display: block;
	margin: 0 auto;
	background-color: transparent;
	width: 250px;
	height: 200px;
	left: 20px;
	bottom: 2s0px;
}


#canvaslms{
	background-color: rgb(228,62,54);
	position: relative;
}
#canvaslms svg {
	position: absolute;
	left: 0;
	top: 0;
}


#others {
	background-color: #81F0E5;
}

#ji p {
	font-size: 1em;
}
.cbp_tmtimeline > li .cbp_tmlabel a {
	position: relative;
	z-index: 99;
	color: white;
	display: inline-block;
	font-weight: bold;
	font-size: 30px;
	text-decoration: none;
	padding: 14px 20px;
	margin: 0 auto;
	height: 64px;
	line-height: 36px;
}

li .cbp_tmlabel img{
	display: block;
	margin: 0 auto;
}

.cbp_tmlabel p{
	padding: 0 20px;	
	font-size: 2em;
	color:white;
	font-weight: 500;
}


.cbp_tmlabel ul li a:hover{
	background: rgba(0,0,0,0.05);
	border-radius: 50%;
}

.cbp_tmtimeline > li .cbp_tmlabel a:hover {
	color: orangered;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #FFFFFF;
	display: no;
}


/******* Hux Branch *****/
html{
	font-size: 90%;
}
body{
	background: #fafafa;
}

@media screen and (max-width: 400px) {
	.main{
		width: 100%;
		padding-bottom: 0px;
	}
	html{
		font-size: 90%;
	}
	.sidebar-left p{
		font-size: 1.05em;
		letter-spacing: 0px;
		margin: 1.5em;
	}
	.cbp_tmlabel ul li.skill>span, .cbp_tmlabel ul li.skill>a{
	    margin-right: 2px;
	}
}

/* Sidebar introduction */
.sidebar-left{
	font-family: -apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
	position: fixed;
	width: 300px;
	padding-left: 30px;
	margin-top: 30px;
	margin-right: 20px;
}
.sidebar-left h1 {
	text-align: left;
    font-size: 50px;
    color: #252728;
    font-weight: 100;
    margin-top: 26px;
    margin-bottom: 10px;
    line-height: 1;
    letter-spacing: 0.1em;
}
.sidebar-left p{
	text-align: left;
	color: #252728;
	font-size: 16px;
	line-height: 1.6em;
	letter-spacing: 1px;
	font-weight: 300;
}

.sidebar-left a {
	font-weight: 300;
	text-decoration: none;
}

.sidebar-left a:hover {
	text-decoration: none;	
	color: orangered;
}

/* main body */

.main{
	margin-left: 320px;
}

.main a{
	color:#0085a1;
}