body {
  font-family: georgia, serif;
}

a {
  text-emphasis: none;
  color: black;
}

a:hover {
  background-color: #f9f0cf;
}

h1 {
  font-family: georgia, serif;
  font-size: 2rem;
}

.red {
  color: red;
}