@value hover-color: #ffc100;

:global .clear {
  clear: both;
}

.box {
  margin: 2rem 3rem;
  width: 70vw;
  cursor: pointer;
}

.box p {
  margin-bottom: 0.5rem;
}

.title {
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
}

.box:hover .title{
  color: hover-color;
}

.subtitle {
  font-weight: 300;
}

.box:hover .subtitle{
  color: hover-color;
}

.intro {
  margin-top: 1.2rem;
  color: #808080;
}

.date {

}

.left {
  float: left;
}

.right {
  float: right
}